[submodule "rai"]
	path = rai
	url = git@github.com:JayKamat99/rai.git
[submodule "ompl"]
	path = ompl
	url = git@github.com:JayKamat99/ompl.git
[submodule "rai-robotModels"]
	path = rai-robotModels
	url = git@github.com:MarcToussaint/rai-robotModels.git
